<html>
  <body>
    <div class="background" style="background-image: url(assets/imagen.jpg)"></div>
    <div class="login">
      <form [formGroup]="myform" (ngSubmit)="onSubmit()" class="form">
        <h1 >Iniciar sesión</h1>
        <br />
        <br />
        <div class = "container">
          <mat-form-field appearance="fill">
            <mat-label style="font-family: Garamond, Georgia, serif"
              >Ingresa tu usuario</mat-label
            >
            <input
              formControlName="email"
              matInput
              placeholder="jhondoe123"
              required
            />
          </mat-form-field>
        </div>
        <div class = "container">
          <mat-form-field appearance="fill">
            <mat-label
              >Ingresa tu contraseña</mat-label
            >
            <input
              formControlName="password"
              matInput
              [type]="hide ? 'password' : 'text'"
            />

            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <h4 *ngIf="error != ''">Usuario o contraseña incorrectos</h4>
        <div style="text-align: center">
          <button
            style="font-family: Garamond, Georgia, serif"
            class="boton"
            type="submit"
          >
            Iniciar Sesión
          </button>
        </div>
<br>
        <div style="text-align: center;">
          <a style="font-family: Garamond, Georgia, serif" href="register">¿No tienes una cuenta?</a>
        </div>
      </form>
    </div>
  </body>
</html>
